
  #Rule_outline_main{
      height: 600px;
  }
  #Outline_block1{
    padding: 30px;
  }
  #Outline_block2{
    padding: 30px;
  }
  #Outline_block2 a{
    color: #555;
  }
  #sidebar {
    width: 260px;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid #bcbcbc;
  }
  #content {
    width: 910px;
    height: 648px;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid #bcbcbc;
  }
  @media only all and (max-width: 1200px) {
    #sidebar{
      width: 910px;
      text-align: center;
    }
  }
  @media only all and (max-width: 992px) {
    #sidebar{
      width: 750px;
      text-align: center;
    }
    #content{
      width: 750px;
    }
  }